@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:wght@400;700&family=Gochi+Hand&family=Montserrat:ital,wght@0,400;1,500&family=Poppins&display=swap');
body{
	margin: 0px;
	font-family: 'Montserrat', sans-serif;	
}
.header{
	position: relative;
	width: 1440px;
	height: 1037px;
	background: #FFFFFF;
}
.navgt{
	position: absolute;
	width: 1109px;
	height: 45.56px;
	left: 144px;
	top: 51px;
}
ul {
  	list-style-type: none;
  	margin: 0;
  	padding: 0;
}

li{
	float: left;
	padding-bottom: 15px;
}
li a{
	display: inline-block;
  	text-align: center;
  	padding: 14px 15px;
  	text-decoration: none;
  	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-transform: capitalize;
	color: #2E2E2E;
}
.logo{
	padding-left: 161px;
	margin-top: -15px;
}
.signin{
	padding-left: 220px;
}

.signup{
	margin-top: 3px;
	width: 90px;
	height: 40px;
	background: #000D83;
	border-radius: 10px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
}

.note{
	position: relative;
	width: 155px;
	height: 19px;
	left: 138px;
	top: 229px;
	background: #E2F3FD;
	border-radius: 5px;
}
.your{
	font-family: Gochi Hand;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	color: #024171;
}
.line{
	position: absolute;
	width: 637px;
	height: 198px;
	left: 138px;
	top: 226px;
	font-family: Gentium Book Basic;
	font-style: normal;
	font-weight: bold;
	font-size: 78px;
	line-height: 99px;
	color: #000D83;
}
.premium{
	position: absolute;
	width: 488px;
	height: 60px;
	left: 138px;
	top: 521px;
	font-family: Montserrat;
	font-style: italic;
	font-weight: 500;
	font-size: 16px;
	line-height: 30px;
	color: #898989;
}
.button1{
	position: absolute;
	width: 122px;
	height: 40px;
	left: 141px;
	top: 657px;
	background: #000D83;
	border-radius: 10px;
	font-family: Poppins;
	font-size: 16px;
	color: #FFFFFF;
}
.button2{
	position: absolute;
	width: 122px;
	height: 40px;
	left: 293px;
	top: 657px;
	background: #FFFFFF;
	border: 2px solid #000D83;
	box-sizing: border-box;
	border-radius: 10px;
	font-family: Poppins;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-transform: capitalize;
	color: #000D83;
}
.lftdiv{
	background-image: url("../image/image 67.png");
	width: 586px;
	height: 694.27px;
	margin-left: 826px;
	margin-top: 95px;
	background-repeat: no-repeat;
}
.cong{
	height: 74px;
	width: 219px;
	margin-left: -27px;
    margin-top: 202px;
}
.platform{
	position: absolute;
	width: 1305px;
	height: 212px;
	left: 135px;
	background: #FFFFFF;
	border: 1px solid #D0D5FF;
	box-sizing: border-box;
	box-shadow: 0px 34px 74px rgba(80, 86, 141, 0.15);
}
.platform .over{
	position: absolute;
	text-decoration: none;
	width: 354px;
	height: 84px;
	margin: 59px 64px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 29px;
	line-height: 42px;
	color: #B7B7B7;
}
.platform a:hover{
	color: red;
}
.platform a:active{
	color: green;
}
.platform a:visit{
	color: blue;
}
	

.hflogo{
	position: absolute;
	left: 551px;
	top: 38.22%;
	bottom: 9.96%;
}
.rgroup{
	position: absolute;
	width: 136px;
	height: 71px;
	padding-left: 992px;
	top: 69px;
}
.bg1{
	position: absolute;
	width: 248px;
	height: 248px;
	left: 88px;
	top: 104px;
	background: #FFC640;
	opacity: 0.3;
	filter: blur(92px);
}
.bg2{
	position: absolute;
	width: 105px;
	height: 105px;
	left: 1110px;
	top: 320px;
	background: #F9CD62;
	opacity: 0.5;
	filter: blur(134px);
}
.bg3{
	position: absolute;
	width: 28px;
	height: 28px;
	left: 787px;
	top: 414px;
	background: #ACDBFF;
	border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 28px;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.bg4{
	position: absolute;
	width: 28px;
	height: 28px;
	left: 1213px;
	top: 653px;
	background: #00CCB1;
	border-radius: 6px;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.bg5{
	position: absolute;
	width: 28px;
	height: 28px;
	left: 651px;
	top: 683px;
	background: #FAECC9;
	border-radius: 6px;
	transform: matrix(1, 0, 0, -1, 0, 0);
}
.bg6{
	position: absolute;
	width: 105px;
	height: 105px;
	left: 188px;
	top: 728px;
	background: #0082E4;
	opacity: 0.5;
	filter: blur(117px);
}
.bg7{
	position: absolute;
	width: 105px;
	height: 105px;
	left: 570px;
	top: 425px;
	background: #0082E4;
	opacity: 0.5;
	filter: blur(71px);
}